/* CSS Document */

*
{
	padding: 0px;
	margin: 0px;
}

#wrap
{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#lightings
{
    bottom: 260px;
    margin-left: 19px;
    position: absolute;
    width: 100%;
}

section
{
	/*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 326px;
    width: 92%;
    position: relative;
    margin: auto;
      
    

}

#one
{
	/*animation
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #FFF;
}

to { -webkit-box-shadow: 0 0 100px 15px #ccc; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #FFF;
}

to { -moz-box-shadow: 0 0 100px 15px #ccc; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #FFF;
}

to { -o-box-shadow: 0 0 100px 15px #ccc; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #FFF;
}

to {box-shadow: 0 0 100px 15px #ccc; }
}

#two
{
	width: 90%;
	/*animation
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #FFF;
}

to { -webkit-box-shadow: 0 0 100px 15px #ccc; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #FFF;
}

to { -moz-box-shadow: 0 0 100px 15px #ccc; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #FFF;
}

to { -o-box-shadow: 0 0 100px 15px #ccc; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #FFF;
}

to { box-shadow: 0 0 100px 15px #ccc; }
}

#three
{
	width: 80%;
	/*animation
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFF;
}

to { -webkit-box-shadow: 0 0 100px 15px #ccc; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #FFF;
}

to { -moz-box-shadow: 0 0 100px 15px #ccc }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #FFF;
}

to { -o-box-shadow: 0 0 100px 15px #ccc }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #FFF;
}

to { box-shadow: 0 0 100px 15px #ccc }
}

#four
{
	width: 70%;
	/*animation
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #FFF;
}

to { -webkit-box-shadow: 0 0 100px 15px #ccc; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #FFF;
}

to { -moz-box-shadow: 0 0 100px 15px #ccc; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #FFF;
}

to { -o-box-shadow: 0 0 100px 15px #ccc; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #FFF;
}

to { shadow: 0 0 100px 15px #ccc; }
}

#five
{
    width: 64%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #FFF;
}

to { -webkit-box-shadow: 0 0 100px 15px #ccc; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #FFF;
}

to { -moz-box-shadow: 0 0 100px 15px #ccc; }
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #FFF;
}

to { -o-box-shadow: 0 0 100px 15px #ccc; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #FFF;
}

to { box-shadow: 0 0 100px 15px #ccc; }
}


@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    
    #lightings
{
    bottom: 228px;
    margin-left: 19px;
    position: absolute;
    width: 100%;
}

section
{
	/*border-radius*/
    height: 268px;

}
}