/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller cards */
@import "http://propeller.in/components/card/css/card.css";

/* Propeller tab */
@import "http://propeller.in/components/tab/css/tab.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Propeller tab */
@import "http://propeller.in/components/tab/css/tab.css";

html{
    overflow-x: hidden;
}
a,
a:hover,
a:focuse{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff !important;
    color: #000;
}
p{
    color: #000;
}

.loading_page{
    background: #fff;
/*    background: #669209;*/
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    top: 0;
}
.loading_page .logo{
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 450px;
    line-height: 365px;
    background: #fff;
    padding: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10%;
    /*border: 8px solid #659209;*/
}
.loading_page .logo img{
    max-width: 100%;
    position: absolute;
    z-index: 9;
    width: 70%;
    top: 135px;
    left: 65px;
}

#lightings {
    bottom: 260px;
    margin-left: 19px;
    position: absolute;
    width: 433px;
    height: 428px;
    top: 18%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#lightings section{
    height: 400px;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}






.mnml-spinner {
  border-radius: 100%;
  border-style: solid;
  border-width: 0.25rem;
  height: 450px;
  width: 450px;
  animation: basic 1s infinite linear;
}

/*.mnml-spinner.light {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 1);
}*/

.mnml-spinner.dark {
    border-color: rgba(102, 147, 8, 0.35);
    border-top-color: rgb(101, 147, 9);
}

@keyframes basic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359.9deg);
  }
}























.divi {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  /*width: 60px;*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header{
   /* background: url(../images/0cb0bb46919687.586a967f3036d.jpg) center no-repeat;
    background-size: cover;*/
    height: 662px;
}/*
header #wrap{
    height: 600px;
}*/

header .logo_wrap{
    text-align: center;
    width: 300px;
    height: 150px;
    background: #fff;
    float: left;
}
header .logo_wrap .logo{
    padding: 15px 50px;
}
header .logo img{
    max-width: 100%;
}
header .header_bg_transition .bx-wrapper{
    position: absolute;
    z-index: -1;
}

.bg_bxslider li{
    background-size: cover !important;
    height: 662px;
    
}
header .social_media{
    text-align: center;
    padding: 5px 0px;
    background: #659108;
}
header .social_media a{
    color: #fff;
    font-size: 18px;
}
header .social_media a span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
header .social_media a span i{
   /* -webkit-text-stroke: 2px #659108;
   color: white;
   text-shadow:
      0px0px 0 #659108,
     0px 0px 0 #659108,  
     0px 0px 0 #659108,
      0px0px 0 #659108,
      0px0px 0 #659108;*/
}
header .estimate{
    position: absolute;
    right: 0;
    top: 158px;
    z-index: 999;
}
header .estimate a{
    padding: 15px 25px;
    text-align: center;
    background: #e75e05;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}
header .estimate a.btn-success:hover, header .estimate a.dropdown-toggle.btn-success:hover{
    background: #e95f06;
}


header .offers{
    width: 250px;
    background: #3F51B5;
    bottom: 60px;
    top: auto;
    padding: 10px;
}

header .offers a{
    width: 100%;
    padding: auto;
    display: block;
    font-size: 28px;
    background: none;
    border: 2px dashed #fff;
}
header .esti_align{
    background: #e75e05;
    bottom: 160px;
}
header .esti_align a{
    font-size: 20px;
    padding: 5px 25px;
}



#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #e75e05;
    color: #000;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    color: #fff;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}




.prague-counter .figures svg polygon, .prague-counter .figures svg circle{
    fill: #e4e4e4;
}
.main_menu{
/*    background: #659108;*/
    float: right;
    margin-top: 25px;
}
.main_menu nav{
    text-align: center;
}
.main_menu nav ul{
    margin: 0;
    padding: 0;
}
.main_menu nav ul li{
    display: inline-block;
}
.main_menu nav ul li a{
    color: #fff;
    padding: 20px 19px;
    display: inline-block;
}
.main_menu nav ul li a:hover{
    background: #fff;
    color: #659108
}
.main_menu nav ul li a.active{
    background: #fff;
    color: #659108
}
.about_inner{
    background: #fff url('../images/p2-img1.jpg') no-repeat;
}
.about_company{
    padding: 50px 0px;
    background-position-x: 596px;
}
.about_company .company_slider{
    width: 80%;
    margin: 0 auto;
}
.about_company .company_slider img{
    max-width: 100%;
}
.about_company .contant{
    margin-top: 50px;
    text-align: center;
}
.about_company .contant h1{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about_company .contant p{
    margin-top: 25px;
    font-size: 16px;
    color: #000;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}
.about_company .contant a{
    color: #659108;
    border-top: 2px solid #659108;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}
.about_company .contant a:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background: #659108;
	transition: all 0.6s ease;
    color: #fff;
    z-index: -1;
}
.about_company .contant a:hover{
    color: #fff;
}
.about_company .contant a:hover:before {
	height: 42px;
}
.about_company .contant .bodhi_color{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}/*
.bodhi_color{
    color: #659108 !important;
}*/

.vertical-navs.inside-navs .nav--next, .vertical-navs.inside-navs .nav--prev{
    display: none;
}
.vertical-dots.inside-dots.vertical-navs.right-dots .dots{
    /*right: 0;
    left: -35px;*/
}
.vertical-dots .dots>.dot:first-of-type{
    margin-top: 275px;
}
.inside-dots .dots>.dot.active{
    background: #659108;
}


.our_skills{
    text-align: center;
    padding: 20px 0px;
    background: #fff;
    padding-bottom: 155px;
}
.our_skills h1{
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
    margin: 0;
}
/*
.our_skills span{
    display: block;
    background: url('../images/row.png') center no-repeat;
    margin-top: 10px;
}
*/
.our_skills .bodhi_color{
    font-size: 40px;
    color: #659108;
    background: #fff;
    padding: 0 15px;
    display: inline-block;
}

.skill_slider{
    margin-top: 30px;
    position: relative;
    background: #fff;
}
.skill_slider .icon_slid{
    
}

.skill_slider .bx-wrapper .bx-pager{
    display: none;
}


.bxslider li {
    background: #efefef;
    height:220px;
}

.skill_slider .bxslider-controls{
    position: absolute;
    top: -40px;
}
.skill_slider .bxslider-controls span{
    background: #659108;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    display: inline-block;
}

.skill_slider .bxslider-controls .pull-right{
    margin-left: 10px;
}
.icon_slid{
    margin: 0 auto;
    text-align: center;
}
.icon_slid span{
    width: 180px;
    height: 180px;
    line-height: 180px;
    border-radius: 180px;
    border: 3px solid #659108;
    text-align: center;
    padding: 30px;
    background: none;
    margin: 0 auto;
}
.icon_slid span img{
    max-height: 100%;
    margin: 0 auto;
}
.skill_about{
    background: #dedede;
}
.skill_about li{
    background: #dedede;
    padding: 65px ;
    text-align: left;
}
.skill_about li p{
    font-size: 16px;
    line-height: 28px;    
}
.skill_about li p b{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
#lg-download{
    display: none;
}
.bx-wrapper {
    -ms-touch-action: pan-y;
     touch-action: pan-y; 
     box-shadow: none; 
     border: none; 
     background: none; 
    margin-bottom: 30px;
}
.projects{
    padding: 50px 0px;
    background: url('../images/0cb0bb46919687.586a967f3036d_dark.jpg') center no-repeat;
}

.project_slid{
    
}
.project_slid_wrap{
    background: #fff;
    margin: 50px;
}
.project_slid_wrap a{
    position: relative;
}
.project_slid_wrap .wrap .pro_details{
    font-size: 16px;
}
.project_slid{
    height: 520px;
}
.blur{
    position: absolute;
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
}

.inner_pages #wrap{
    text-align: center;
    margin: 0 auto;
}
.project_slid .bxslider li{
    position: relative;
}

.project_slid .bxslider li .wrap{
    background: #fff;
    margin-top: 50px;
}
.project_slid .bxslider li .wrap .pro_details{
    background: #dedede;
    margin-right: 30px;
    margin-top: 30px;
    padding: 30px;
    height: 330px;
}
.bx-viewport, .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
}
.bxslider, .bxslider li{
    height: 100% !important;;
}
.bxslider li{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport{
    border: none !important;
}





.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
.sprite {
	background: url('../images/down.png') center no-repeat;
}
.sprite-i-triangle {
    height: 64px;
    width: 69px;
}
.block-text ins {
    bottom: -64px;
    left: 98%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}





.testimonial span{
    background: url('../images/row_blk.png') center no-repeat;
    text-align: center;
    display: block;
}
.testimonial h1{
    font-size: 40px;
    font-weight: 600;
    color: #2f2f2f;
    text-align: center;
    background: #fff;
    padding: 0 15px;
    display: inline-block;
    margin: 0;
}
.testimonial .carousel-inner{
    padding: 30px 0px;
}
.testimonial .carousel-control.left span,
.testimonial .carousel-control.right span{
    background: none;
}
.testimonial .block-text{
    background: #659108;
    margin: 10px 50px;
    padding: 20px;
    box-shadow: none;
    position: relative;
}
.testimonial .block-text p{
    color: #fff;
    border: 1px solid #fff;
    border-style: dashed;
    font-family: 'Roboto'; 
    font-style: normal;
    padding: 20px;
}
.st0{fill:#567D03;}




.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
}

.clientele{
    padding: 50px 0px;
    background: #fff;
}
.clientele h1{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px
}
.clientele .back_gery{
   /* background: #dedede;*/
}

.clientele .carousel-control.left, .clientele .carousel-control.right{
    display: none;
}

hr.green{
    border-color: #659108;
    margin: 0;
}


.video_area{
    padding: 30px 0px;
}






.back-link a {
		color: #4ca340;
		text-decoration: none; 
		border-bottom: 1px #4ca340 solid;
	}
	.back-link a:hover,
	.back-link a:focus {
		color: #408536; 
		text-decoration: none;
		border-bottom: 1px #408536 solid;
	}
	.entry-header {
		text-align: left;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
	}
	#demo-content {
		padding-top: 100px;
	}



footer{
    background: url(../images/ffa51a33625455.56b20f01c3608.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sisters{
    padding: 50px 0px;
}
.sisters .bodhi_info{
/*    border-right: 2px solid #659108;*/
    display: inline-block;
    padding-right: 30px;
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    width: 100%;
}
.sisters .bodhi_info h1{
    font-size: 24px;
    font-weight: 500;
    color: #fff !important;
}
.sisters .bodhi_info p{
    line-height: 28px;
    color: #fff;
}
.sisters .bodhi_info a{
/*    float: right;*/
    /*position: absolute;
    top: 45px;
    right: 15px;*/
    background: #fff;
    color: #000;
    padding: 10px 25px;
    border-bottom: 1px solid;
    display: inline-block;
}
.sisters .lapic{
    background: #fff;
    margin-top: 30px;
    padding-right: 0;
    padding: 10px 0px;
    padding-left: 20px;
}
.sisters .lapic img{
    width: 150px;
    float: left;
}
.sisters .lapic h1{
    float: left;
    color: #000 !important;
    margin: 0;
    line-height: 40px;
    padding-left: 50px;
}
.sisters .lapic a{
    float: right;
    background: #fff;
    border: none;
}
.sisters .lapic a:hover
.sisters .lapic a:focus{
    background: #fff;
}
footer .copy{
/*    background: #669309;*/
    padding: 15px 0px;
    border-top: 1px solid #fff;
    text-align: center;
}
footer .copy p{
    color: #fff;
    margin: 0;
}
.client_slid{
    
}
.client_slid .bx-wrapper{
    margin: 0;
}

.nav_triger{
    display: none;
}
.lapic{
    position: relative;
}
.lapic img{
    max-width: 100%;
}
.slide_video{
    width: 100%;
    height: 370px;
}
.ma5slider .slides{
    height: 370px;
}


.get_estimate{
    width: 90%;
    /*margin: 30px auto;*/
    padding: 30px 50px;
    margin: 0 auto;
}
.get_estimate .contant{
    text-align: center;
    margin-top: 0;
}
.get_estimate .contant p{
    margin-top: 0;
}
.get_estimate .contant h1{
    text-transform: uppercase;
}
.get_estimate button{
    margin: 0 auto;
    display: block;
}
button.close{
    right: 25px;
    top: 20px;
    position: absolute;
    z-index: 9;
}

/********* Inner Page Style for Commen Header ***********/
.inner_pages{
    height: 360px;
    background-size: cover;
}
.inner_pages #wrap .logo {
    text-align: center;
    width: 250px;
    height: 250px;
    line-height: 170px;
    border-radius: 350px;
    background: #ffffff;
    margin: 0 auto;
    padding: 40px;
    border: 3px solid #e0e0e0;
    margin-top: 30px;
}
.inner_pages #wrap{
    height: auto;
    position: static;
}
.inner_pages .social_media{
    margin-top: 20px;
}
.inner_pages .main_menu{
    margin-top: 20px;
}
.inner_layout{
    
}
.inner_layout .about_company .contant{
    width: 100%;
    margin: 0 auto;
}
.inner_layout .project_slid{
    height: 350px;
}
.inner_layout .project_slid{
    height: 350px;
}
.inner_layout .projects{
    padding: 0;
}
.inner_layout .mision_vision{
    padding: 30px 0px;
}
.inner_layout .mision_vision .content_box{
    padding: 30px;
    background: #659207;
    margin-bottom: 20px;
    color: #fff;
}
.inner_layout .mision_vision .dark{
    background: #222222;
}
.inner_layout .mision_vision .content_box p{
    text-align: justify;
    line-height: 28px;
    color: #fff;
}

.inner_layout .projects_section{
    padding: 10px 0px;
    padding-bottom: 50px;
    background: #fff;
}
.inner_layout .projects_section .caption{
    text-align: center;
}
.inner_layout .projects_section .row{
    margin-top: 30px;
}
.inner_layout .projects_section .caption h1{
    text-transform: uppercase;
    font-size: 32px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
}
.inner_layout .projects_section .project_list_box{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.inner_layout .projects_section .pro_image{
}
.inner_layout .projects_section .pro_image img{
    max-width: 100%;
}
.inner_layout .projects_section .content_box{
    position: absolute;
    background: #fff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 185px;
    transition-duration: 0.6s;
}
.inner_layout .projects_section .content_box p{
    line-height: 28px;
}
.inner_layout .projects_section .project_list_box:hover .content_box{
    top: 20px;
    bottom: 20px;
    height: 100%;
    width: 90%;
}

/********* Contact Page **********/



        .map-control {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
            font-family: 'Roboto', 'sans-serif';
            margin: 10px;
            /* Hide the control initially, to prevent it from appearing
           before the map loads. */
            display: none;
        }
        /* Display the control once it is inside the map. */
        
        #map .map-control {
            display: block;
            width: 100%;
            height: 100%;
        }
        
        #map {
            position: relative;
            width: 100%;
            height: 680px;
        }
        
        .selector-control {
            font-size: 14px;
            line-height: 30px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .contact_wrap{
            position: relative;
        }
        .contact_form {
            position: absolute;
            z-index: 9;
            top: 50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.90);
            color: #000;
            margin: 50px;
            padding: 30px;
        }
        .contact_form h1{
            color: #fff;
        }
        .contact_form .adrss_details{
            border: 1px dotted #000;
            padding: 30px;
            color: #000;
            margin-top: 11%;
            text-align: center;
        }
        .contact_form .adrss_details h1{
            color: #000;
            padding-bottom: 20px;
        }
        .contact_form .adrss_details p{
            color: #000;
        }
        .contact_form .adrss_details span{
            display: block;
            padding: 5px 0px;
        }
        .contact_form .adrss_details span a{
            color: #000;
        }
        .contact_form .adrss_details .social_media{
        }
        .contact_form .adrss_details .social_media span{
            display: inline-block;
            color: #000;
        }
        .contact_form .adrss_details .social_media a{
            padding: 5px;
        }
        .contact_wrap .btn-primary, .contact_wrap .dropdown-toggle.btn-primary{
            background-color: #949494;
        }


.spinner {
    margin: 0px;
    height: 450px;
    width: 450px;
    animation: rotate 6s infinite linear;
    border: 4px solid #e85f06;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}



.service_row .content a{
    float: right;
    padding: 10px 25px;
    color: #659108;
    border: 1px solid #659108;
    transition-duration: 0.5s;
}
.service_row .content a:hover{
    color: #fff;
    transition-duration: 0.5s;
    background: #659108;
}
.service_row .content h2{
    border-bottom: 1px solid #659108;
    padding-bottom: 15px;
    color: #659108;
}
.image_list{
    
}
.image_list img{
    max-width: 100%;
}
.image_list h4{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}






.google_map{
    position: relative;
}
.contact_form .adrss_details .google_map span{
    padding-top: 75px;
    text-align: center;
    cursor: pointer;
}
.pin {
  width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    margin: 0 AUTO;
    margin-top: -31px;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}
/*.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}*/
.pulse {
  background: rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 11px 0px 0px -12px;
    margin: 0 auto;
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform: rotateX(55deg);
    z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
    margin: -13px 0 0 -20px;
  -webkit-animation: pulsate 1s ease-out;
  -moz-animation: pulsate 1s ease-out;
  -o-animation: pulsate 1s ease-out;
  -ms-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-box-shadow: 0 0 1px 2px #89849b;
  box-shadow: 0 0 1px 2px #89849b;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}


/*********** Projects ***********/
.pmd-tabs .nav-tabs{
    margin: 0 auto;
    display: table;
}
.skills_wrap{
    margin-bottom: 20px;
}
.skills_wrap .contant h1{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.skills_sections{
    padding-bottom: 50px;
}
.skills_sections h2{
    font-size: 22px;
    font-weight: 600;
    color: #6f6f6f;
}
.skills_sections p{
    line-height: 28px;
}
.skills_sections img{
    max-width: 100%;
}






.career_form{
    border-top: 1px solid #659108;
    padding: 50px 150px;
    display: flex;
}



    .prague_filter_class_1{
        position: absolute; 
        left: 0px; 
        top: 0px;
    }

    .prague_filter_class_2{
        position: absolute; 
        left: 380px;
        top: 0px;
    }

    .prague_filter_class_3{
        position: absolute; 
        right: 0px;
        top: 0px;
    }
.prague_exhibition_grid{
    height: 280px;
}







@media only screen and (min-width:1200px){
    #lightings{
        top: 18%;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .main_menu nav ul li a{
        padding: 20px 10px;
    }
    .clientele .back_gery{
        display: flex;
    }
    .prague_filter_class_2{
        position: absolute; 
        left: 315px !important;
        top: 0px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
   #lightings{
        height: 403px;
        top: 17%;
    }
    #lightings section {
        height: 400px;
    }
    .project_slid{
        height: auto;
    }
    .project_slid .bxslider li .wrap{
        margin-bottom: 50px;
    }
    .project_slid .bxslider li .wrap .pro_details{
        margin: 30px;
    }
    header .logo_wrap{
        width: 230px;
    }
    .main_menu nav ul li a{
        padding: 10px 5px;
    }
    .main_menu{
        background: #222222;
    }
    header {
        height: 526px;
    }
    .inner_pages #wrap .logo{
        top: 30px;
    }
    .inner_pages #wrap{
        position: static;
    }
    .inner_pages .main_menu nav ul li a{
        padding: 20px 19px;
    }
    .prague_count_col3 .portfolio-item-wrapp{
            width: 33.33333%!important;
    }
    .prague_filter_class_2{
        left: 240px !important;
    }
}
@media only screen and (max-width:767px){
    #lightings {
        display: none;
        bottom: 260px;
        margin-left: 19px;
        position: absolute;
        width: 280px;
        height: 210px;
        top: 13.8%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .inner_pages #wrap .logo{
        margin-top: 80px;
    }
    .loading_page .logo{
        width: 280px;
        height: 280px;
        line-height: 280px;
        padding: 0;
    }
    .loading_page .logo img{
        top: 85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #lightings section{
        height: 280px;
    }
    
    .project_slid{
        height: auto;
    }
    .project_slid .bxslider li .wrap{
        margin-bottom: 50px;
    }
    .project_slid .bxslider li .wrap .pro_details{
        margin: 30px;
    }
    header #wrap{
        height: 300px;
    }
    header #wrap .logo {
        width: 150px;
        height: 150px;
        line-height: 115px;
        padding: 15px;/*
        margin-top: 3px;*/
        left: 0;
        right: 0;
        top: -20px;
        position: absolute;
    }
    header{
        height: 515px;;
        background-size: cover;
    }
    header .social_media{
       /* margin-top: 245px;*/
    }
    .nav_triger{
        display: block;
    }
    .loading_page .container{
        padding: 0;
    }
    .clientele{
        background: #fff;
    }
    .clientele h2{
        color: #669309;
    }
    .main_menu{
        display: none !important;
    }
    .spinner{
        width: 280px;
        height: 280px
    }
    .career_form{
        padding: 50px 50px;
    }
    .prague-shortcode-parent{
        min-height: 765px;
    }
    .intrior_box_home{
        top:365px !important;
    }
    header .logo_wrap{
        float: none;
        margin: 0 auto;
        margin-top: 100px;
    }
    header .estimate{
        position: absolute;
        left: 80px;
        top: 330px;
        z-index: 999;
    }
    .inner_pages .estimate{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 330px;
        text-align: center;
        z-index: 999;
    }
    header .offers{
        width: auto;
        position: absolute;
        left: 255px;
        right: auto;
        top: 315px;
        z-index: 999;
        bottom: auto;
        background: rgb(231, 94, 5);
        border-radius: 5px;
    }
    header .offers a{
        font-size: 14px;
        padding: 15px 35px;
    }
    .prague-shortcode-parent .prague-shortcode-content-wrapp{
        max-width: calc(100% - 100px);
    }
    .mnml-spinner{
        height: 280px;
        width: 280px;
    }
    .prague_filter_class{
        position: static !important;
    }
    .prague_exhibition_grid{
        height: auto;
    }
    .modal-dialog{
        margin-top: 60px !important;
    }
}

@media only screen and (max-width:480px){
    
    .slide_video{
        width: 100%;
        height: 220px;
    }
    .ma5slider .slides{
        height: 220px;
    }
    .vertical-dots .dots>.dot:first-of-type{
        margin-top: 100px;
    }
    .about_company .company_slider img{
        max-height: 100%;
        max-width: none;
        height: 100%;
    }
    .project_slid .bxslider li .wrap .pro_details {
        margin: 15px;
    }
    .project_slid .bxslider li .wrap .pro_details{
        padding: 15px;
    }
    .project_slid .bxslider li .wrap .pro_details{
        height: 360px;
    }
    .testimonial .block-text{
        margin: 0;
    }
    .career_form{
        padding: 50px 0px;
    }
    .skill_about li{
        padding: 20px;
    }
    .prague-shortcode-parent .prague-shortcode-heading.light{
        width: 100%;
        margin-top: -65px;
    }
    .prague-shortcode-parent .prague-shortcode-heading.light .parent-title{
        font-size: 29px;
    }
    .prague-shortcode-parent .prague-shortcode-content-wrapp{
        max-width: calc(100% - 0px);
    }
    .about_company .company_slider{
        width: 100%;
    }
    header .logo_wrap{
        width: 280px;
    }
    header .offers a,
    header .estimate a{
        width: 100%;
        display: block;
    }
    header .offers,
    header .estimate{
        position: static;
    }
    header .estimate{
        margin-top: 50px;
    }
    header .offers{
        margin-top: 20px;
    }
    .about_company .contant p{
        width: 100%;
    }
    .get_estimate{
        width: 100%;
        padding: 20px;
    }
    .clientele {
        background: #fff;
        padding-bottom: 220px;
    }
}


/*.svg {
  margin: 24px auto;
  display: block;
  -webkit-animation: svg-rotate 8000ms linear infinite;
          animation: svg-rotate 8000ms linear infinite;
}*/
circle {
  fill: transparent;
  stroke: hotpink;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 0, 301.59289;
  -webkit-animation: stroke-dash 8000ms linear infinite, stroke-width 10000ms linear infinite, stroke-color 2000ms steps(1) infinite;
          animation: stroke-dash 8000ms linear infinite, stroke-width 10000ms linear infinite, stroke-color 2000ms steps(1) infinite;
    padding: 5px;
}

@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 3;
  }
}
@keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 3;
  }
}
@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@-webkit-keyframes stroke-color {
  from {
    stroke: #e75d05;
  }
}
@keyframes stroke-color {
  from {
    stroke: #e75d05;
  }
}

.btn-success{
    border: none !important;
}

.service_row{
    
}
.service_row .image_bx{
    /*width: 30%;*/
/*    float: left;*/
    text-align: center;
    background: #eaeaea;
    padding: 30px;
}
.service_row .image_bx img{
    max-width: 100%;
    height: 350px;
}
.service_row .content{
    /*width: 69%;
    float: right;*/
    padding-top: 50px;
}
.service_row .content p{
    line-height: 28px;
}
.gallery_wrap{
    padding-bottom: 50px;
}
.gallery_sec li{
    margin-bottom: 20px;
}
/*
.faq .panel-group.pmd-accordion> .panel-heading{
    border-radius: 40px;
}*/

.clientele_wrap{
    
}
.clientele_wrap .client_slid {
    width: 80%;
    margin: 0 auto;
}
.client_list{
    height: 600px;
    /*background: #e1e1e1;*/
    padding: 50px 0px;
}
.inner_layout .project_slid{
    height: 500px;
}
.bx-wrapper .bx-controls-direction a{
    position: absolute;
    top: 50%;
    margin-top: 0px;
    outline: 0;
    width: 40px;
    height: 40px;
    text-indent: inherit;
    z-index: 999;
    top: 50%;
/*    border: 2px solid #fff;*/
    border-radius: 5px;
    transition-duration: 0.6s;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 29px;
}
.bx-wrapper .bx-controls-direction a:hover{
    background: #659108;
/*    border-color: #659108;*/
    color: #fff;
    transition-duration: 0.6s;
}
.bx-wrapper .bx-prev {
    right: auto;
    left: 15px;
    background: url(images/controls.png) 0 -32px no-repeat;
}
.bx-wrapper .bx-next{
    
}
.with_bottom_row{
    border-bottom: 1px solid #669309;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
.skills_sections .col-lg-4{
    margin: 0 0.5%;
    margin-bottom: 20px;
    width: 32.33333%;
}
.skills_sections .col-lg-4 h3{
    text-align: center;
    font-weight: 600;
    margin: 20px 0px;
}
.convenience{
    
}
.convenience h3{
    text-align: center;
    font-weight: 600;
}

.cusom_intrio{
    
}
.cusom_intrio .content{
    padding-top: 0;
}

.right_wrap{
    background: #fff;
}
li a .offers_box{
    background: #FF9800;
    padding: 20px;
    color: #000;
}
.offers{
    position: absolute;
    bottom: 50px;
}
.offers .bx-wrapper{
    margin-bottom: 0px;
}
.home_intirio{
    
}
.home_intirio img{
    max-width: 100%;
}

.prague-shortcode-parent .prague-shortcode-heading.light .parent-title{
    font-size: 40px;
    line-height: 44px;
}
.after_before{
    padding: 50px 0px;
    text-align: center;
}
.after_before h1{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.after_before a{
    color: #000;
    margin-top: 30px;
/*    display: block;*/
}
.projects_section .twentytwenty-container{
    margin-bottom: 50px;
}

.video-wrapper {
/*  background: #000 none repeat scroll 0 0;*/
  overflow: hidden;
  width: 100%;
}

.small-video-row {
  padding: 60px 0px;
}

.slick-slide {
  transition: ease-in-out all .15s ease;
  transform: scale(1, 1);
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
}

.slick-current {
  transform: scale(1.25, 1.25);
  transition: ease-in-out all .15s ease;
  z-index: 2;
  overflow:hidden;
    background: #fff;
}

.slick-current:hover {
  cursor: pointer;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: absolute;
  width: 100%;
}

.slick-current .video-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.small-video-text {color:#000; text-align: center; padding: 5px 0px;}


.slick-slide img {
    display: block;
    width: 100%;
}

/************** Custom overflow ********/

.slick-list {
    overflow: visible; 
}



section {
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .item h3{
    text-align: center;
    font-weight: 600;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #659108;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    padding: 10px 0px;
    margin-bottom: 0;

}
#fade-quote-carousel blockquote p{
    line-height: 28px;
}
#fade-quote-carousel .profile-circle {
    width: 200px;
    margin: 0 auto;
    border-radius: 100px;
}
#fade-quote-carousel .profile-circle img{
    max-width: 100%
}

.inner_pages .bg_bxslider li{
    height: 360px;
}
.inner_pages .social_media{
    display: inline-block;
}
.inner_pages .main_menu{
    float: none;
    margin-top: 25px;
    background: #222222;
}

.inner_layout .about_company{
    padding: 80px 0px;
}

.inner_layout .about_company .contant p{
    width: 90%;
    text-align: justify;
}
.inner_layout .about_company .contant h1{
    font-weight: 700;
    font-size: 32px;
}
.inner_layout .about_company .content{
    text-align: center;
}
.inner_layout .about_company .content .subtitle{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 4.5px;
    font-weight: 300;
}
.inner_layout .about_company .content .title{
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 44px;
    color: #000;
    font-weight: 700;
}

footer .social_media{
    text-align: center;
    padding: 15px 0px;
}

footer .social_media a{
    color: #fff;
    padding: 0px 10px;
}

.projects_section .prague_count_col3 .portfolio-item-wrapp{
    width: 33.33333%;
}

.prague-exhib-grid-wrapper .exhib-grid-item-content{
    width: 100%;
}
.prague-exhib-grid-wrapper .exhib-grid-item-title{
    font-size: 20px;
}
.projects_section .portfolio-item{
}
.projects_section .portfolio-item .prague-services-wrapper{
        padding: 30px;
}
.projects_section .services-item-description{
    line-height: 28px;
}
.projects_section .services-item-description p{
    line-height: 28px;
}
.projects_section .services-item-description ul li{
    line-height: 28px;
    list-style: none;
}
.services_image img{
    max-width: 100%;
}
.next_paginations{
    padding-top: 30px;
}
.next_paginations a{
    color: #000;
    
}
.next_paginations a:first-child{
    float: left;
}
.next_paginations a:last-child{
    float: right;
}

.margin-lg-105b{
    margin-bottom: 0;
}

.a-btn-2:hover, .a-btn-2:focus{
    background: #659108;
}
.a-btn-2.creative.anima:after{
    border-top-color: #659108;
    border-right-color: #659108;
}
.a-btn-2.creative.anima:before{
    border-bottom-color: #659108;
    border-left-color: #659108;
}
.a-btn-2 .a-btn-line:after, .a-btn-2 .a-btn-line:before{
    background: #659108;
}
.prague-services-wrapper .services-item-description p:last-child{
    line-height: 28px;
}

.inner_layout .about_company .content .a-btn-2{
    margin-top: 30px;
    font-size: 18px;
}















